.app-header {
    background-color: white!important;
    padding-top: 5px;
    height: 72px;
}

.app-header .ant-divider {
    height: 64px;
}

.app-header .ant-col {
    /*background-color: #F0F2F5;*/
}




